{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- نمایش پیام‌های موفقیت یا خطا -->
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="search_box">
        <form method="GET" class="search-container">
            <input type="text" name="q" class="form-control search-input" placeholder="Search by email..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary btn-search">Search</button>
            <a href="{% url 'user-panel' %}" class="btn btn-secondary btn-clear">Clear Search</a>
        </form>
    </div>

    <div class="text-end mb-3 ">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>

    <div class="container mt-5">
        <h1 class="text-center">User Management Panel</h1>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users  %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{user.is_admin}}</td>
                    <td>
                        {% if request.user.is_admin %}
                            <a href="{% url 'edit-user' user.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete-user' user.id %}" class="btn btn-danger btn-sm" onclick="return confirmDelete()">Delete</a>
                            {% if user.is_admin %}
                                <a href="{% url 'change-password-admin' user.id %}" class="btn btn-primary btn-sm">Change Password</a>
                            {% else %}
                                <a href="{% url 'change-password-user' %}" class="btn btn-primary btn-sm">Change Password</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination Links -->
        <div class="pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
